footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 5px 30px;
  background-color: #374151;
  color: white;
}

.left-items,
.right-items {
  display: flex;
  gap: 0px;
}
