header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 5px 30px;
  /* background-color: #333; */
  background-color: #374151;
  color: white;
  gap: 15px;
}

.header-left-items,
.header-right-items {
  display: flex;
  align-items: center;
  gap: 10px !important;
  /* padding: 0px 3px 0px 3px; */
}
