header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #374151;
  color: white;
  gap: 15px;
  position: fixed; /* Fijar el header en la parte superior */
  top: 0; /* Asegura que esté en la parte superior de la pantalla */
  left: 0; /* Alineación izquierda */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.header-left-items,
.header-right-items {
  display: flex;
  align-items: center;
  gap: 10px !important;
}
